# Nextflow
.nextflow/
.nextflow.log*
work/
results/
test_results/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# Conda
.conda/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
